<!DOCTYPE html>


<html data-wf-page="620ee50a44b7b21d021b99ce" data-wf-site="620ee50a44b7b27cd21b99b0" class="w-mod-js wf-dmsans-n4-active wf-dmsans-n5-active wf-dmsans-n7-active wf-active w-mod-ix"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><style>.wf-force-outline-none[tabindex="-1"]:focus{outline:none;}</style>
		<title>Home</title>
		<meta content="Projects" property="og:title">
		<meta content="Projects" property="twitter:title">
		<meta content="width=device-width, initial-scale=1" name="viewport">
		<meta content="Webflow" name="generator">
		<link href="/Home_files/style.css" rel="stylesheet" type="text/css">
		<link href="/Home_files/normalize.css" rel="stylesheet" type="text/css">
		<link href="./Home_files/webflow.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="./Home_files/default.min.css">
		<link href="./Home_files/webflow-custom.css" rel="stylesheet" type="text/css">
		<link href="./Home_files/webapp-59fed1-cb0c2f4d2ca257e6c5cdf0aa3.webflow.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="./Home_files/css" media="all"><script type="text/javascript">
			WebFont.load({ google: { families: ["DM Sans:regular,500,700"] } })
		</script>
		

		<script src="./Home_files/saved_resource"></script>
		<link rel="stylesheet" href="./Home_files/multiple-emails.css">
	<style>
		.top-text-item{
			position: relative;
		}
		.announcement-cross{
			width:20px;
		}
		.app-nav-layout{
			position: relative!important;
		}
		.announcement{
			padding:4px 30px;
			height:35px;
		}
		.left-side-social{
			width:30px;
			height:30px;
		}
		.submit-button {
			width: 100%;
			border-radius: 3px;
			margin-top: 12px;
			padding: 12px;
		}
		.top-text-holder{
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 45px;
		}
		.top-text-item{
			text-align: center;
			margin: 20px 0;
			width: calc(100% / 3);
		}

		.top-text-title {
			font-weight: bold;
			font-size: 20px;
			color: #000;
			margin-bottom: 10px;
		}
		.form {
			display: block;
		}

		.modal-desktop.active {
			display: flex !important;
		}

		.code-block {
			background-color: #fff !important;
			padding-left: 25px !important;
			min-height: calc(130px - 44px);
		}
		.code-container {
			box-shadow: 0 1px 5px 0 #ebedf0;
			background-color: #fff;
		}

		pre {
			margin-top: 0;
		}

		.caption {
			padding: 6px;
			border-radius: 5px;
			border: 0;
			letter-spacing: 0;
			text-transform: capitalize;
			cursor: pointer;
			transition: 0.3s ease all;
			border-radius: 3px;
			background-color: #f6f7f9;
			color: #3b59df;
		}
		.caption:hover {
			background-color: #ebedf0;
		}

		.toaster-alert {
			z-index: 9999;
		}
		.email-input {
			width: 100%;
			padding: 10px;
			border: 1px solid #d3d3d3;
			border-radius: 3px;
			margin-top: 10px;
		}
		.fade-in {
			opacity: 1;
			animation-name: fadeInOpacity;
			animation-iteration-count: 1;
			animation-timing-function: ease-in;
			animation-duration: 0.3s;
		}

		@keyframes fadeInOpacity {
			0% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}
		.noti-red-dot{
			width: 10px;
			height: 10px;
			position: absolute;
			top: 7px;
			right: 6px;
			background-color: red;
			border-radius: 50px;
		}
		.dropdown-notification{
			position: relative;
		}
	</style>
</head>
	
	<body class="body">
		<style>
			.onboarding-modal .holder{
				width: 1500px!important;
				height:800px!important;
				background-color: transparent;
			}
			.holder-height{
				min-height:unset!important;
			}
			.onboarding-steps{
				cursor: pointer;
			}
			.right-step{
				display: none!important;
			}
			.right-step.active{
				display: flex!important;
			}
			</style>
			
		<div class="custom-modal referal-modal">
			<div class="modal-overlay">
				<div class="modal-element">
					<div data-delay="4000" data-animation="slide" class="modal-slider w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="300" data-infinite="true" id="flowbaseSlider" role="region" aria-label="carousel">
						<div class="w-slider-mask" id="w-slider-mask-0"><div class="modal-slide w-slide" aria-label="1 of 1" role="group" style="transform: translateX(0px); opacity: 1;">
								<div class="modal-content" style="
										padding-bottom: 16px;
										padding-top: 16px;
									">
									<img src="./Home_files/pngwing.com.png_" sizes="(max-width: 479px) 75vw, 250px" srcset="
									../../style/images/pngwing.com-p-500.png
									500w,
									../../style/images/pngwing.com-p-1080.png
									1080w,
									../../style/images/pngwing.com-p-1600.png
									1600w, ../../style/images/pngwing.com.png
									1618w " alt="" class="icon" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
									
									<div class="social-circle-row" style="
											margin-bottom: 0;
											margin-top: 24px;
										">
										<div class="icon-holder" style="margin-top: 0; gap: 0">
											<div onclick="invite(&#39;facebook&#39;)"><a href="https://www.facebook.com/sharer.php?u=https://blckbx.ai/invite_facebook" class="icon-link-holder social-circle w-inline-block" target="_blank">
												<img class="referal-icon" src="./Home_files/facebook-svg.svg" alt="">
												<img class="referal-icon referal-icon-filled" src="./Home_files/facebook-svg-filled.svg" alt="">
											</a></div>
											<div onclick="invite(&#39;twitter&#39;)"><a href="https://twitter.com/intent/tweet?text=Checkout%20this%20Chrome/Firefox%20extension%20to%20copy%20text%20from%20videos%20and%20images%20instantly.%20https://blckbx.ai/invite_twitter%20Viral%20video%20with%203M%20views%20on%20TikTok%20https://vm.tiktok.com/ZSeDNN6Rg/" class="icon-link-holder social-circle w-inline-block" target="_blank">
												<img class="referal-icon" src="./Home_files/twitter-svg.svg" alt="">
												<img class="referal-icon referal-icon-filled" src="./Home_files/twitter-svg-filled.svg" alt="">
											</a></div>
											<div onclick="invite(&#39;whatsapp&#39;)"><a target="_blank" class="icon-link-holder social-circle w-inline-block" href="https://web.whatsapp.com/send?text=Checkout%20this%20Chrome/Firefox%20extension%20to%20copy%20text%20from%20videos%20and%20images%20instantly.%20https://blckbx.ai/invite_whatsapp%20Viral%20video%20with%203M%20views%20on%20TikTok%20https://vm.tiktok.com/ZSeDNN6Rg/">
												<img class="referal-icon" src="./Home_files/whatsapp-svg.svg" alt="">
												<img class="referal-icon referal-icon-filled" src="./Home_files/whatsapp-svg-filled.svg" alt="">
											</a></div>
										</div>
									</div>
								</div>
							</div><div aria-live="off" aria-atomic="true" class="w-slider-aria-label" data-wf-ignore=""></div></div>
						<div class="left-arrow w-slider-arrow-left" role="button" tabindex="0" aria-controls="w-slider-mask-0" aria-label="previous slide">
							<div class="w-icon-slider-left"></div>
						</div>
						<div class="right-arrow w-slider-arrow-right" role="button" tabindex="0" aria-controls="w-slider-mask-0" aria-label="next slide" style="">
							<div class="w-icon-slider-right"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
		
		<div class="app-layout">
			<div class="app-nav-layout">
				<div data-collapse="medium" data-animation="over-left" data-duration="400" data-easing="ease-in-out" data-easing2="ease-in-out" role="banner" class="sidebar-navbar w-nav">
					<div class="sidebar-navbar-container w-container">
						<div class="sidebar-navbar-heading">
							<div class="sidebar-navbar-menu-button w-nav-button" style="-webkit-user-select: text;" aria-label="menu" role="button" tabindex="0" aria-controls="w-nav-overlay-0" aria-haspopup="menu" aria-expanded="false"></div>
							<a href="/home" class="sidebar-navbar-brand w-nav-brand" aria-label="home"><img src="./Home_files/Group-4_1.png" alt="" class="sidebar-navbar-brand-logo" width="100" height="100"><img src="./Home_files/mini-icon.svg" height="20" alt="" class="sidebar-navbar-brand-logo-small"></a>
						</div>
						<nav role="navigation" class="sidebar-navbar-menu w-nav-menu">
							<div class="sidebar-navbar-body">
								<div class="sidebar-navbar-body-container">
									<a aria-current="page" href="/home" class="sidebar-navbar-link link-home w-nav-link currentPage" style="max-width: 940px;">Home<br></a>
									<a aria-current="page" href="/team" class="sidebar-navbar-link link-home w-nav-link currentPage" style="max-width: 940px;">Team<br></a>
									
									<a aria-current="page" href="/scoreboard" class="sidebar-navbar-link link-home w-nav-link currentPage" style="max-width: 940px;">Scoreboard<br></a>
									<a aria-current="page" href="/challenge" class="sidebar-navbar-link link-home w-nav-link currentPage" style="max-width: 940px;">Challenge<br></a>
									<a aria-current="page" href="/profile" class="sidebar-navbar-link link-home w-nav-link currentPage" style="max-width: 940px;">Profile<br></a>
									
								
								</div>
							</div>
							<div class="sidebar-navbar-footer">
								<div class="social-holder">
									<div class="w-nav-link" style="cursor: pointer; color: rgb(255, 255, 255); padding: 10px 0px 0px; width: 100%; text-align: center; max-width: 940px;">Share with your friends
									</div>
								<div class="social-circle-row" style="margin-bottom: 0;margin-top: 0px;">
										<div class="icon-holder" style="margin-top: 0; gap: 0">
											<div onclick="invite(&#39;facebook&#39;)"><a href="https://www.facebook.com/sharer.php?u=https://blckbx.ai/invite_facebook" class="icon-link-holder left-side-social social-circle w-inline-block" target="_blank">
												<img class="referal-icon" src="./Home_files/facebook-svg.svg" alt="">
												<img class="referal-icon referal-icon-filled" src="./Home_files/facebook-svg-filled.svg" alt="">
											</a></div>
											<div onclick="invite(&#39;twitter&#39;)"><a href="https://twitter.com/intent/tweet?text=Checkout%20this%20Chrome/Firefox%20extension%20to%20copy%20text%20from%20videos%20and%20images%20instantly.%20https://blckbx.ai/invite_twitter%20Viral%20video%20with%203M%20views%20on%20TikTok%20https://vm.tiktok.com/ZSeDNN6Rg/" class="icon-link-holder left-side-social social-circle w-inline-block" target="_blank">
												<img class="referal-icon" src="./Home_files/twitter-svg.svg" alt="">
												<img class="referal-icon referal-icon-filled" src="./Home_files/twitter-svg-filled.svg" alt="">
											</a></div>
											<div onclick="invite(&#39;whatsapp&#39;)"><a target="_blank" class="icon-link-holder left-side-social social-circle w-inline-block" href="https://web.whatsapp.com/send?text=Checkout%20this%20Chrome/Firefox%20extension%20to%20copy%20text%20from%20videos%20and%20images%20instantly.%20https://blckbx.ai/invite_whatsapp%20Viral%20video%20with%203M%20views%20on%20TikTok%20https://vm.tiktok.com/ZSeDNN6Rg/">
												<img class="referal-icon" src="./Home_files/whatsapp-svg.svg" alt="">
												<img class="referal-icon referal-icon-filled" src="./Home_files/whatsapp-svg-filled.svg" alt="">
											</a></div>
										</div>
									</div>
								</div>
							</div>
							<div class="sidebar-navbar-footer nav-toggle">
								<a data-w-id="c953acc7-394f-2eba-e671-0dd464d91c76" href="/home" class="sidebar-navbar-toggle-button w-button"></a>
							</div>
						</nav>
					</div>
				<div class="w-nav-overlay" data-wf-ignore="" id="w-nav-overlay-0"></div></div>
				
			</div>
			<div class="app-main-layout-container">
				<div class="app-main-layout-mask"></div>
				<div class="app-main-layout">
					<div class="app-main-layout-header">
						<div class="app-main-layout-wrapper header">
							<div class="page-heading">
								<h2>Home</h2>
								<p></p>
							</div>
						</div>
					</div>
					<div class="app-main-layout-wrapper" style="overflow-y: auto; height: calc(100vh - 179px)">
						<h3 class="vuln-title">Recently Added Challenges : </h3>
						
						<div class="vuln-row">

							<a href="http://127.0.0.1:443" target="_blank">
								<div class="vuln-card-row">
									<div class="vuln-card">
										<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEitdFxRt1qEZSNmWaVbVaEFFAeKgX_tcPjw&usqp=CAU"
										 alt="Avatar" style="width:100%" height="160px">
										<div class="vuln-container">
										  <h4><b>SQL-Injection</b></h4>
										  <p>Level-0</p>
										</div>
									  </div>
								</div>
							</a>

							<div class="vuln-card-row">
								<div class="vuln-card">
									<img src="https://www.intego.com/mac-security-blog/wp-content/uploads/2021/03/download-folder-600.png"
									 alt="Avatar" style="width:100%"  height="160px">
									<div class="vuln-container">
									  <h4><b>Directory-Busting</b></h4>
									  <p>Level-0</p>
									</div>
								  </div>
							</div>
							
						</div>

							<!-- WEB BASED END HERE -->
							
							
							<!-- CRYPTO START HERE  -->

						
				</div>
				</div>
			</div>
		</div>
</body></html>